
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<!-- Material Design Bootstrap -->
<link href="~/Content/css/mdb.min.css" rel="stylesheet" />
<!-- MDBootstrap Datatables  -->
<link href="~/Content/css/addons/datatables.min.css" rel="stylesheet" />



<div class="container-fluid border" style="background-color: white">
    <form class="border border-light p-5">
        <p class="h4 mb-4 text-center">Transaction Editor</p>
        <div class="form-row mb-4">
            <div class="col">
                <label>test</label>
                <input type="text" id="defaultRegisterFormFirstName" class="form-control">
            </div>
            <div class="col">
                <label>test 2</label>
                <input type="text" id="defaultRegisterFormLastName" class="form-control">
            </div>
            <div class="col">
                <label>test 3</label>
                <input type="text" id="defaultRegisterFormLastName" class="form-control">
            </div>
        </div>

        <div class="form-row mb-4">
            <div class="col">
                <label>test 3</label>
                <input type="text" id="defaultRegisterFormLastName" class="form-control">
            </div>
            <div class="col">
                <label>test 3</label>
                <input type="text" id="defaultRegisterFormLastName" class="form-control">
            </div>
            <div class="col">
                <label>test 3</label>
                <input type="text" id="defaultRegisterFormLastName" class="form-control">
            </div>
        </div>
        <div class="form-row mb-4">

            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe</label>
                </div>
            </div>
            <div class="col col-2">
                <button class="btn btn-info btn-primary" type="submit">Search</button>
            </div>
        </div>
        <hr>
    </form>
    <table class="table table-bordered table-striped" id="dt-basic-checkbox">
        <thead>
            <tr>
                <th>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
                        <label class="custom-control-label" for="tableDefaultCheck1">Check 1</label>
                    </div>
                </th>
                <th>Lorem</th>
                <th>Ipsum</th>
                <th>Dolor</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2" checked>
                        <label class="custom-control-label" for="tableDefaultCheck2">Check 2</label>
                    </div>
                </th>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>
                <td>
                    <span class="table-remove">
                        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                            Remove
                        </button>
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
                        <label class="custom-control-label" for="tableDefaultCheck3">Check 3</label>
                    </div>
                </th>
                <td>Cell 4</td>
                <td>Cell 5</td>
                <td>Cell 6</td>
            </tr>
            <tr>
                <th scope="row">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
                        <label class="custom-control-label" for="tableDefaultCheck4">Check 4</label>
                    </div>
                </th>
                <td>Cell 7</td>
                <td>Cell 8</td>
                <td>Cell 9</td>
            </tr>
        </tbody>
        <!-- Table body -->
    </table>
</div>


<!-- SCRIPTS -->
<!-- JQuery -->
<script src="~/Scripts/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="~/Scripts/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="~/Scripts/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="~/Scripts/js/mdb.min.js"></script>
<!-- MDBootstrap Datatables  -->
<script src="~/Scripts/js/addons/datatables.min.js"></script>


<!-- MDBootstrap Datatables  -->
<script src="../Scripts/js/addons/datatables.min.js"></script>
<script>
    $('#dt-basic-checkbox').dataTable({
        "searching": false,
        "lengthChange": false,
        "columnDefs": [{
            "orderable": false,
            "className": 'select-checkbox',
            "targets": 0
        }]
    });
</script>